services:
  postgres:
    image: postgres:14.0
    container_name: postgres_sitewomen
    env_file:
      - docker.env
    ports:
      - "${POSTGRES_EXTERNAL_PORT:-5432}:5432"
    restart: always
    volumes:
      - db-data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
      interval: 10s
      timeout: 5s
      retries: 5


volumes:
  db-data:
